/* global css */
*{
    font-size: 30px;
    font-weight: 500px;
}
/* External CSS */
h3{
    color: blue;
}
/* element selector */
h4{
    color: aqua;
}
/* class selector */
.myclass{
    color: darkorange;
}
/* id selector */
#myid{
    color: purple;
}
/* group selector */
h5,p{
    color: maroon;
}